@import url("https://fonts.cdnfonts.com/css/neofolia");
@import url("https://fonts.cdnfonts.com/css/nasdaqer");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.font-neofolia {
  font-family: "Neofolia", sans-serif;
}

.font-nasdaqer {
  font-family: "Nasdaqer", sans-serif;
}
